@font-face {
  font-family: 'Orbitron Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Orbitron Medium'), url('orbitron-medium.woff') format('woff');
  }


  @font-face {
    font-family: 'Orbitron Light';
    font-style: normal;
    font-weight: normal;
    src: local('Orbitron Light'), url('orbitron-light.woff') format('woff');
    }

.container {
  font-family: 'Orbitron Light';
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}



.calculator {
  width: 22.5rem;
  min-height: 27.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}


